attrs==26.1.0
beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
check50==3.4.0
cryptography==50.0.1
idna==3.19
jellyfish==1.2.1
Jinja2==3.1.6
lib50==3.2.3
MarkupSafe==3.0.3
packaging==26.3
pexpect==4.9.0
ptyprocess==0.7.0
pycparser==3.0
pytz==2026.3.post1
PyYAML==6.0.3
requests==2.34.2
setuptools==84.0.0
soupsieve==2.9.2
submit50==3.2.1
termcolor==1.1.0
typing_extensions==4.16.0
urllib3==2.8.0
